name: Deploy Github Pages

on:
  push:
    branches:
      - dev

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Hugo Deploy Github Pages
      uses: benmatselby/hugo-deploy-gh-pages@1.1.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        HUGO_VERSION: 0.62.0
        TARGET_REPO: froghramar/hugo-starter
